@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

html {
    background-color: #ffffff;
}

h1 {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 32px;
}

h2 {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}

h3 {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}

a {
    text-decoration: none;
}

#links-container ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

#links-container ul li {
    display: inline;
}

#links-container ul li a{
    text-decoration: none;
    padding: .2em 1em;
}

p {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 32px;
}

.btn {
    background-color: #1e90ff;
    border: none;
    color: #ffffff;
    padding: .3em 1em;
    cursor: pointer;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    border-radius: 2px;
}
  
.btn {
    margin: auto;
    display: flex;
    justify-content: center;
}

.btn:hover {
    background-color: #1d84eb;
}

#cv-link {
    color: #ffffff;
}

#cats {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}