@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

body {

    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Josefin Sans', sans-serif;
    color: #f1f1f1;
    background-color: #1E1E1E;
}

.container {
    padding: 20px;
    max-width: 600px;
    width: 100%;
    text-align: center;
}

.container img {
    height: 180px;
    border-radius: 50%;
}

.linkedin-link {
    text-decoration: none;
    color: #0077b5;
    font-size: 26px;
    margin: 10px;
    transition: color 0.3s;
}

.github-link {
    text-decoration: none;
    color: #ffffff;
    font-size: 26px;
    margin: 10px;
    transition: color 0.3s;
}

.email-link {
    text-decoration: none;
    color: 	#6e6e6e;
    font-size: 26px;
    margin: 10px;
    transition: color 0.3s;
}

.container-about {
    font-size: 20px;
    text-align: justify;
    /*font-family: "Roboto", sans-serif;*/
    font-family: 'Josefin Sans', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.bnt-curriculo {
    display: inline-block;
    padding: 12px 24px;
    background-color: #0077b5;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 8px;
    font-size: 16px;
}

.bnt-curriculo:hover {
    background-color: #005582;
    transform: scale(1.05);
}


.items-dl {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #1e1e1e; /* para fundo escuro */
    border-radius: 12px;
    box-shadow: 0 4px 10px #0000003d;
    color: #e0e0e0;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
  }
  
  .items-dl dt {
    font-weight: bold;
    color: #b12929;
    margin-top: 16px;
    font-size: 1.1em;
  }
  
  .items-dl dd {
    margin-left: 0;
    padding-left: 16px;
    margin-bottom: 12px;
    color: #ffffff;
  }
  