@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

body {

    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Josefin Sans', sans-serif;
    color: #f1f1f1;

    background-color: #1E1E1E;
    /*background-color: #121212;*/
}

.container {
    padding: 20px;
    max-width: 600px;
    width: 100%;
    text-align: center;
}

.container img {
    height: 180px;
    border-radius: 50%;
}

.linkedin-link {
    text-decoration: none;
    color: #0077b5;
    font-size: 26px;
    margin: 10px;
    transition: color 0.3s;
}

.github-link {
    text-decoration: none;
    color: #ffffff;
    font-size: 26px;
    margin: 10px;
    transition: color 0.3s;
}

.email-link {
    text-decoration: none;
    color: 	#6e6e6e;
    font-size: 26px;
    margin: 10px;
    transition: color 0.3s;
}

.container-about {
    font-size: 20px;
    text-align: justify;
    /*font-family: "Roboto", sans-serif;*/
    font-family: 'Josefin Sans', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}